h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 35 px;

}

.info {
  text-align: left;
  font-weight: normal;
}

.contact{
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.tilted {
  font-weight: bold;
  color: blue;
}
